body {
    font-family: Trebuchet,Helvetica,sans-serif!important;
    background: #999999;
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #eee;
    flex: 3 1 60%;
    order: 2;
    max-height: 800px;
    min-height: 800px;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #eee;
    flex: 1 6 60%;
    order: 1;
    max-height: 800px;
    min-height: 800px;
    max-width: 400px;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #eee;
    flex: 1 6 60%;
    order: 3;
    max-height: 800px;
    min-height: 800px;
    max-width: 350px;
}

header h1 {
    margin: 0 auto;
}

header, footer {
    color: white;
    display: block;
    padding: 2px;
    border-radius: 7pt;
    background: #091835;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }

    #main > nav, #main > aside {
        min-height: 100%;
        max-height: 100%;
    }
}

/* FOOTER STYLING */
footer h5 a {
font-family: Trebuchet,Helvetica,sans-serif!important;
color: white;
text-decoration: none;
}

footer h5 a:hover {
color: #00A0C6;
text-decoration: none;
cursor: pointer;
}

/* STYLING */
aside h1, p, h4, h3 {
    text-align: center;
}

#SNODASTitle {
    text-decoration: underline;
    font-size: 19px;
    font-family: Trebuchet,Helvetica,sans-serif!important;
    font-weight: bold;
}

#FileDate, #BasinSelector {
    font-size: 19px;
    font-family: Trebuchet,Helvetica,sans-serif!important;
    font-weight: bold;
}

#about p, ul li {
    font-size: 14px;
}

#analysis ol li, p {
    font-size: 14px;
}

#about h3, #data h3, #analysis h3 {
    font-size: 18px;
}
#about a {
    color: black;
}

#about a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------------------------*/

/* DROPDOWN BUTTON */
#mydropdown {
    max-height: 500px; 
    overflow: auto;
    z-index: 100000;
}

 #mydropdown2 {
    max-height: 400px;
    overflow: auto;
    z-index: 100000;
 }

.dropbtn {
    background-color: #216791;
    font-family: Trebuchet,Helvetica,sans-serif!important;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2887C1;
} 

#myInput, #myinput2 {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span a, .dropdown-content ul li, .dropdown ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Trebuchet,Helvetica,sans-serif!important;

}

.dropdown span a:hover, .dropdown ul li:hover {
    background-color: #2171b5
}

/* LEAFLET MAP */
#mapid {
    width: 1000px; height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.show {display:block;}
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } 
.info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 22px; color: #555; }
.legend i { border: 1px solid black; width: 18px; height: 18px; float: left; margin-right: 8px,; opacity: 0.7; }

/* HELPFUL INFORMATION ? */
.fa {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.fa .tooltiptext {
    visibility: hidden;
    width: 150px;
    height: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.fa .tooltiptext ul li {
    list-style-type: none;
    text-align: left;
}

.fa:hover .tooltiptext {
    visibility: visible;
    font-family: Trebuchet,Helvetica,sans-serif!important;
}

/* SLIDER */
#sliderinfo {
    font-family: Trebuchet,Helvetica,sans-serif!important;
}

#SNODASPlot {
    max-width: 450px;
    height: 340px;
    border: 2px solid black;
    max-width: 350px;
}

/* NAVBAR */
#navbar > ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    height: 40px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #ddd;
}

#navbar li a.active {
    color: white;
    background-color: #216791;
}

#navbar h3 {
    font-family: Trebuchet,Helvetica,sans-serif!important;
    text-align: center;
}

#navbar h1, p {
    font-family: Trebuchet,Helvetica,sans-serif!important;
    text-align: left;
}

/* SCROLL */
div .scroll {
    max-height: 750px;
    height: 750px;
    overflow: auto;
}

/* Lightbox */
.lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000000000000000;
    background:rgba(0, 0, 0, .8);
}

.lightbox_table {
    width:100%;
    height:100%;
}

.lightbox_table_cell {
    vertical-align:middle;
}